<div class="c1">
  <h1>Welcome to Reflow</h1>
  <p>A Library of Books</p>

  <!--<table class="center" border="1">
    <tr>
      <td>Title</td>
      <td>Author</td>
    </tr>
    <% @books.each do |book| %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= link_to('Read', 'text') %></td>
        </tr>
    <% end %>-->
  </table>
</div>