<ul class="pager">
    <% if @has_previous %><li class="previous"><%= link_to 'Previous', params.merge(:page => @page_num-1) %></li><% end %>
    <!-- TODO: add actual page number buttons here -->
    <% if @has_next %><li class="next"><%= link_to 'Next', params.merge(:page => @page_num+1) %></li><% end %>
</ul>

<div class="c1">
    <% if @spinner  %>
        <%= @current_page.text.html_safe %>

        <link href="<%= "/book/#{params[:id]}/page/#{@page_num}/css" %>" rel="stylesheet" type="text/css" />
    <% else %>
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    <% end %>



</div>