<h1>Archive.org Search</h1>
<!--<p>Try searching: https://archive.org/metadata/mobydickorwhale01melvuoft</p>-->

<%= form_tag('/archive/example', method: 'get') do %>
    <button type="submit" class="btn btn-success">Submit</button>
    <div class="search">
      <%= text_field_tag(:search, params[:search], placeholder: 'Search Internet Archive', class: 'form-control') %>
    </div>
<% end %>

<% if @json %>
    <div class="results">
      <%= simple_format "<i>#{@results} search results returned</i>" %>

      <br />
      <% @docs.each do |doc| %>
        <%= simple_format "#{doc['title']} : #{doc['format']}" %>
      <% end %>
    </div>
<% end %>